In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [48]:
df = pd.read_csv("../../data/cleaned/movie_meta_cleaned_final2.csv", engine= "python", encoding='utf-8')
df_0 = pd.read_csv("../../data/cleaned/movie_meta_cleaned.csv", engine= "python", encoding='utf-8')

In [52]:
df['release_dvd'].value_counts()

.             133
27-08-1997     21
6/3/2001       20
1/6/2004       15
22-05-2001     15
             ...
11/11/2007      1
2/10/2015       1
27-10-1997      1
24-04-2012      1
6/11/2018       1
Name: release_dvd, Length: 1290, dtype: int64

In [53]:
df['dvd_sales'].value_counts()

.             2401
3699157.0        2
5480837.0        2
33486352.0       2
57656750.0       1
              ...
2106522.0        1
16528047.0       1
7440072.0        1
1058766.0        1
33127599.0       1
Name: dvd_sales, Length: 2157, dtype: int64

In [10]:
df

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,dvd_sales,blu_sales,total_sales,...,TV-MA,TV-PG,TV-Y7,inf_income_int,inf_income_ww,inf_budget,inf_income_opening,studio_score,price_class,contract_price
0,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,40683,136,PG-13,6.6,35478573.0,58936309.0,94414882.0,...,0,0,0,9.243261e+08,1.201261e+09,4.353960e+08,1.035667e+08,6,1,650
1,tt2395427,Avengers: Age of Ultron,2015,42125,141,PG-13,7.3,33569045.0,55802159.0,89371204.0,...,0,0,0,1.020156e+09,1.516187e+09,3.944425e+08,2.066999e+08,6,1,650
2,tt4154756,Avengers: Infinity War,2018,43217,156,PG-13,8.5,23700665.0,77736363.0,101437028.0,...,0,0,0,1.369544e+09,2.048360e+09,3.000000e+08,2.576982e+08,6,10,920
3,tt0449088,Pirates of the Caribbean: At World's End,2007,39227,167,PG-13,7.1,314040375.0,7640482.0,321680857.0,...,0,0,0,8.659796e+08,1.275692e+09,3.972384e+08,1.519209e+08,6,1,650
4,tt0974015,Justice League,2017,43056,121,PG-13,6.4,19449630.0,40475432.0,59925062.0,...,0,0,0,4.334829e+08,6.660274e+08,3.046112e+08,9.528464e+07,6,1,650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4555,tt6588966,Hichki,2018,43182,106,NOT RATED,7.5,.,.,.,...,0,0,0,3.044411e+07,3.044411e+07,2.000000e+06,3.302790e+05,4,10,880
4556,tt5970844,Thugs of Hindostan,2018,43412,164,NOT RATED,4.0,.,.,.,...,0,0,0,2.649292e+07,2.794277e+07,2.000000e+07,1.185386e+06,4,1,610
4557,tt5956100,Tiger Zinda Hai,2017,43091,145,NOT RATED,6.0,.,.,.,...,0,0,0,7.186986e+07,7.750212e+07,2.073263e+07,1.810036e+06,4,1,610
4558,tt5882970,Tubelight,2017,42909,170,NOT RATED,4.0,.,.,.,...,0,0,0,1.993717e+07,2.088174e+07,2.361278e+07,9.445700e+05,4,1,610
4559,tt3405236,Raees,2017,42760,143,NOT RATED,6.8,.,.,.,...,0,0,0,5.245854e+06,8.559735e+06,3.653945e+07,1.826448e+06,4,1,610

In [11]:
for c in df.columns:
    print(c,'결측치 개수:',df[c].isna().sum())

movie_id 결측치 개수: 0
title 결측치 개수: 0
release_year 결측치 개수: 0
release_date 결측치 개수: 0
runtime 결측치 개수: 0
mpa_rating 결측치 개수: 0
imdb_score 결측치 개수: 0
dvd_sales 결측치 개수: 0
blu_sales 결측치 개수: 0
total_sales 결측치 개수: 0
legs 결측치 개수: 0
share 결측치 개수: 0
inf_income_usa 결측치 개수: 0
theater_opening 결측치 개수: 0
theater_total 결측치 개수: 0
src 결측치 개수: 0
awards 결측치 개수: 0
poster 결측치 개수: 0
metascore 결측치 개수: 0
release_dvd 결측치 개수: 0
big_awards_num 결측치 개수: 0
awards_win_num 결측치 개수: 0
awards_nomin_num 결측치 개수: 0
reviews_users 결측치 개수: 0
reviews_critics 결측치 개수: 0
prd_mthd 결측치 개수: 0
budget 결측치 개수: 0
series_new 결측치 개수: 0
income_opening 결측치 개수: 0
votes 결측치 개수: 0
income_usa 결측치 개수: 0
income_int 결측치 개수: 0
income_ww 결측치 개수: 0
item_id 결측치 개수: 0
inv_exist 결측치 개수: 0
contract_year 결측치 개수: 0
inf 결측치 개수: 0
genre_action 결측치 개수: 0
genre_adventure 결측치 개수: 0
genre_drama 결측치 개수: 0
genre_sci-fi 결측치 개수: 0
genre_fantasy 결측치 개수: 0
genre_thriller 결측치 개수: 0
genre_animation 결측치 개수: 0
genre_family 결측치 개수: 0
genre_musical 결측치 개수: 0
genre_comedy 결측치 개수: 0
genre_romance 결측치 개수: 0
genre_mystery 결측치 개수: 0
genre_war 결측치 개수: 0
genre_western 결측치 개수: 0
genre_history 결측치 개수: 0
genre_sport 결측치 개수: 0
genre_horror 결측치 개수: 0
genre_crime 결측치 개수: 0
genre_music 결측치 개수: 0
genre_biography 결측치 개수: 0
genre_documentary 결측치 개수: 0
dvd_over_income 결측치 개수: 0
movie_down_sales 결측치 개수: 0
contract_price_inf 결측치 개수: 0
net_profit 결측치 개수: 0
studio 결측치 개수: 0
positive_probability 결측치 개수: 0
english 결측치 개수: 0
dvd 결측치 개수: 0
blu 결측치 개수: 0
cntry_USA 결측치 개수: 0
actor_A 결측치 개수: 0
actor_B 결측치 개수: 0
actor_C 결측치 개수: 0
director_A 결측치 개수: 0
director_B 결측치 개수: 0
director_C 결측치 개수: 0
APPROVED 결측치 개수: 0
G 결측치 개수: 0
NC-17 결측치 개수: 0
NOT RATED 결측치 개수: 0
PASSED 결측치 개수: 0
PG 결측치 개수: 0
PG-13 결측치 개수: 0
R 결측치 개수: 0
TV-14 결측치 개수: 0
TV-G 결측치 개수: 0
TV-MA 결측치 개수: 0
TV-PG 결측치 개수: 0
TV-Y7 결측치 개수: 0
inf_income_int 결측치 개수: 0
inf_income_ww 결측치 개수: 0
inf_budget 결측치 개수: 0
inf_income_opening 결측치 개수: 0
studio_score 결측치 개수: 0
price_class 결측치 개수: 0
contract_price 결측치 개수: 0

In [12]:
df['dvd_sales']

0        35478573.0
1        33569045.0
2        23700665.0
3       314040375.0
4        19449630.0
           ...
4555              .
4556              .
4557              .
4558              .
4559              .
Name: dvd_sales, Length: 4560, dtype: object

In [13]:
def Nan_to_point():
    global df
    for col in df.columns:
            df.loc[df[col] == '.', col] = np.nan
Nan_to_point()

C:\Users\cresc\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [14]:
for c in df.columns:
    print(c,'결측치 개수:',df[c].isna().sum())

movie_id 결측치 개수: 0
title 결측치 개수: 0
release_year 결측치 개수: 0
release_date 결측치 개수: 0
runtime 결측치 개수: 0
mpa_rating 결측치 개수: 0
imdb_score 결측치 개수: 0
dvd_sales 결측치 개수: 2401
blu_sales 결측치 개수: 2884
total_sales 결측치 개수: 2311
legs 결측치 개수: 0
share 결측치 개수: 0
inf_income_usa 결측치 개수: 0
theater_opening 결측치 개수: 0
theater_total 결측치 개수: 0
src 결측치 개수: 0
awards 결측치 개수: 427
poster 결측치 개수: 2
metascore 결측치 개수: 0
release_dvd 결측치 개수: 133
big_awards_num 결측치 개수: 0
awards_win_num 결측치 개수: 0
awards_nomin_num 결측치 개수: 0
reviews_users 결측치 개수: 0
reviews_critics 결측치 개수: 0
prd_mthd 결측치 개수: 0
budget 결측치 개수: 0
series_new 결측치 개수: 0
income_opening 결측치 개수: 0
votes 결측치 개수: 0
income_usa 결측치 개수: 0
income_int 결측치 개수: 0
income_ww 결측치 개수: 0
item_id 결측치 개수: 4454
inv_exist 결측치 개수: 0
contract_year 결측치 개수: 4454
inf 결측치 개수: 0
genre_action 결측치 개수: 0
genre_adventure 결측치 개수: 0
genre_drama 결측치 개수: 0
genre_sci-fi 결측치 개수: 0
genre_fantasy 결측치 개수: 0
genre_thriller 결측치 개수: 0
genre_animation 결측치 개수: 0
genre_family 결측치 개수: 0
genre_musical 결측치 개수: 0
genre_comedy 결측치 개수: 0
genre_romance 결측치 개수: 0
genre_mystery 결측치 개수: 0
genre_war 결측치 개수: 0
genre_western 결측치 개수: 0
genre_history 결측치 개수: 0
genre_sport 결측치 개수: 0
genre_horror 결측치 개수: 0
genre_crime 결측치 개수: 0
genre_music 결측치 개수: 0
genre_biography 결측치 개수: 0
genre_documentary 결측치 개수: 0
dvd_over_income 결측치 개수: 2401
movie_down_sales 결측치 개수: 4454
contract_price_inf 결측치 개수: 4454
net_profit 결측치 개수: 4454
studio 결측치 개수: 0
positive_probability 결측치 개수: 0
english 결측치 개수: 0
dvd 결측치 개수: 0
blu 결측치 개수: 0
cntry_USA 결측치 개수: 0
actor_A 결측치 개수: 0
actor_B 결측치 개수: 0
actor_C 결측치 개수: 0
director_A 결측치 개수: 0
director_B 결측치 개수: 0
director_C 결측치 개수: 0
APPROVED 결측치 개수: 0
G 결측치 개수: 0
NC-17 결측치 개수: 0
NOT RATED 결측치 개수: 0
PASSED 결측치 개수: 0
PG 결측치 개수: 0
PG-13 결측치 개수: 0
R 결측치 개수: 0
TV-14 결측치 개수: 0
TV-G 결측치 개수: 0
TV-MA 결측치 개수: 0
TV-PG 결측치 개수: 0
TV-Y7 결측치 개수: 0
inf_income_int 결측치 개수: 0
inf_income_ww 결측치 개수: 0
inf_budget 결측치 개수: 0
inf_income_opening 결측치 개수: 0
studio_score 결측치 개수: 0
price_class 결측치 개수: 0
contract_price 결측치 개수: 0

In [46]:
df['release_dvd'].value_counts()

27-08-1997    21
6/3/2001      20
22-05-2001    15
1/6/2004      15
18-12-2001    14
              ..
12/4/2011      1
23-10-1997     1
27-11-2018     1
20-03-2010     1
6/11/2018      1
Name: release_dvd, Length: 1289, dtype: int64

In [22]:
grd_by_year = df.groupby('release_year').agg('mean')

In [41]:
grd_by_year.loc[:,['runtime','imdb_score','metascore','inf_income_usa','theater_total']]

                 runtime  imdb_score  metascore  inf_income_usa  theater_total
release_year
1915.0        190.000000    6.400000  68.050204    1.324036e+07       0.000000
1916.0        105.000000    6.200000  57.883698    1.059229e+07       0.000000
1925.0        147.000000    7.850000  73.683077    1.324036e+07       0.000000
1929.0        100.000000    5.700000  63.096673    3.707300e+06       0.000000
1933.0         94.500000    7.650000  85.424724    7.572161e+06       0.000000
...                  ...         ...        ...             ...            ...
2014.0        108.146919    6.387204  53.200289    5.554492e+07    1951.383886
2015.0        110.443878    6.448469  54.808228    5.128988e+07    1942.280612
2016.0        110.972222    6.395833  55.094846    5.492755e+07    2164.407407
2017.0        111.750000    6.458523  57.476648    5.695623e+07    2146.017045
2018.0        110.963855    6.371687  55.508194    6.578073e+07    2464.819277

[84 rows x 5 columns]

In [44]:
grd_by_year_sum = df.groupby('release_year').count()

In [45]:
grd_by_year_sum

,movie_id,title,release_date,runtime,mpa_rating,imdb_score,dvd_sales,blu_sales,total_sales,legs,...,TV-MA,TV-PG,TV-Y7,inf_income_int,inf_income_ww,inf_budget,inf_income_opening,studio_score,price_class,contract_price
release_year,,,,,,,,,,,,,,,,,,,,,
1915.0,1,1,1,1,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
1916.0,1,1,1,1,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
1925.0,2,2,2,2,2,2,0,1,1,2,...,2,2,2,2,2,2,2,2,2,2
1929.0,1,1,1,1,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
1933.0,2,2,2,2,2,2,1,0,1,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014.0,211,211,211,211,211,211,182,174,183,211,...,211,211,211,211,211,211,211,211,211,211
2015.0,196,196,196,196,196,196,157,154,157,196,...,196,196,196,196,196,196,196,196,196,196
2016.0,216,216,216,216,216,216,181,176,181,216,...,216,216,216,216,216,216,216,216,216,216
2017.0,176,176,176,176,176,176,138,132,138,176,...,176,176,176,176,176,176,176,176,176,176
2018.0,166,166,166,166,166,166,140,141,142,166,...,166,166,166,166,166,166,166,166,166,166